{% extends "layout.html"%}
{%block content%}

<h1>Goal</h1>
<p>The purpose of this independent project is to demonstrate your understanding of the content you covered throughout the week.</p> 
<h3>Overall Project Description</h3>
<p>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>

<p>Your task this week is to create an application that allows users to use that one minute wisely. The users will submit their one minute pitches and other users will vote on them and leave comments to give their feedback on them.</p>

<p>The pitches are organized by category. You can have different categories like pickup lines, interview pitch, product pitch, promotion pitch.(You don't have to use these categories, you can come up with your own creative categories) </p>

<p>The pitches should be arranged by category and the new posts should be displayed first.</p>
{% endblock content%}