{% extends "layout.html"%}
{%block content%}

<h1>{{ current_user.username }}</h1>

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#General" role="tab">General</a>
    </li>
    <li class="nav-item tab">
      <a class="nav-link" data-toggle="tab" href="#Products" role="tab">Products</a>
    </li>
    <li class="nav-item tab">
      <a class="nav-link" data-toggle="tab" href="#Pickups" role="tab">Pickup Lines</a>
    </li>
    <li class="nav-item tab">
      <a class="nav-link" data-toggle="tab" href="#Interviews" role="tab">Interviews</a>
    </li>
    <li class="nav-item tab">
      <a class="nav-link" data-toggle="tab" href="#Promotions" role="tab">Promotions</a>
    </li>
  </ul>
{% endblock content%}