{% extends "layout.html"%}
{%block content%}

 {% for post in posts%}

 <article class="media content-section">
 <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
   <div class="media-body">
     <div class="article-metadata">
       <a class="mr-2" href="#">{{ post.author.username }}</a>
       <small class="text-muted">{{ post.date_posted.strftime("%d %B, %Y") }}</small>
     </div>
     <h2><a class="article-title" href="{{url_for('post',post_id=post.id)}}">{{ post.title }}</a></h2>
     <p class="article-content">{{ post.content }}</p>
   
     
   </div>
   

   <li class="list-group-item" style="font-size: 14px; color: dodgerblue;">
           <ul class="list-group list-group-flush">
                  <a href="">
                    <span class="fas fa-thumbs-up"></span>
                </a>&ensp;
                <a href="">
                    <span class="fas fa-thumbs-down"></span>
                </a>&ensp;
                <a href="{{ url_for('comments') }}">
                    <span class="fas fa-comments"></span>
                 
                </a>
            </li>
            
        </ul>
      </li>
 </article>
 
    
 {%endfor%}
{% endblock content%}